/*
MMMMMMMMMMMMMMMdydNy:........:yNdydMMMMMMMMMMMMMMs
MMMMMMMMMMMds/-..-+ossyddddysso+-..-/sdMMMMMMMMMMs
MMMMMMMMms:..:oymmdyyssssssssyydmmyo:..:smMMsmMMMs
MMMMMMNNo.-ydNhs+////////////////+shNdy-.oNN/dMMMs
MMMMNo.:/ymho////////////////////////ohmy/:.-dMMMs
MMMh-.-yNh+////////////////////-..`` //+hNy-.-hMMs
MMh..:mmo/////////////////////`    .-////omm-..hMs
Mh../Nd+////:..``-+//////////:    `///////+d/-..hs
My-:Nm+/////.    -+/////////-.      `+/////+/h:-ys
h+-hMo//////.    -/.````-//:      `::////////dh-+:
-.-Mm//////+.    ```     :+//-    .+/////////dM-..
..oMd//////+.    .//.    .///-    .//////////dMo..
..oMd//////+.    ://-    .///-    .//////////dMo..
-.-Mm//////+.    ://-    .///-    .//////////dM-..
h+-hMo//////`    ://-    .//+-    -//////////dh-+:
My-:Nm//////`    ://-    -//+-    -//////////h:-ys
Mh../Nh////+`    .:-`   `///+-``..:////////h/-..hs
MMh..:mmo///`    .`   `-/////////////////+mm-..hMs
MMMh-.-ymy+/...--///://////////////////+ymy-.-hMMs
MMMMNo.:/ymyo////////////////////////+ymy/:.-dMMMs
MMMMMMNNo.-sddyo//////////////////oydds-.oNN/dMMMs
MMMMMMMMms:..:oyddhyss++++++ssyhddyo:..:smMM+mMMMs
MMMMMMMMMMMds/-..-+ossyddddysso+-..-/sdMMMMMMMMMMs
MMMMMMMMMMMMMMMdydNy:........:yNdydMMMMMMMMMMMMMMs
*/

/* Some Notes:

-- This website has been coded by Ben Frain as a fictional case study to accompany the book 'Responsive Web Design with HTML5 and CSS3'. What do you mean you haven't ordered it yet? Get it here: http://www.amazon.com/Responsive-Web-Design-HTML5-CSS3/dp/1849693188/ref=sr_1_8?ie=UTF8&qid=1334054932&sr=8-8;

-- I've used Lea Verou's 'prefix free' JavaScript to add vendor prefixes to all my CSS3 declarations as and when they are needed. I do this here so the code is easier to read and I can use the W3C specified declarations. This wouldn't always make the most sense in a production environment. You'd typically want to add vendor prefixes like -moz-, -webkit- etc.

-- also, as you can see if you are reading this, the CSS isn't compressed and many declarations have been written 'long hand' to aid in reading the code. This isn't best practice in a production environment.

-- some people like to alphabetize their CSS declarations. I don't, sorry.

*/

/* Here is the normalize.css courtesy of Nicholas Gallagher (he's clever by the way). This section tries to 'normalize' the behaviour of various browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


/* self-clear floats - if you need them, this is my (current) favourite technique. More info: http://nicolasgallagher.com/micro-clearfix-hack/ */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* wrap url's */
pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    }
    

